#vis svg {
  border: 1px dashed #777;
}

.node rect {
  cursor: move;
  fill-opacity: 1;
  fill: #FFF;
  stroke: #BBB;
  stroke-width: 3;
}

.node circle {
  fill: #FFF;
  cursor: move;
  fill-opacity: 1;
  stroke: #BBB;
  stroke-width: 3;
}

.node text.title {
  font-family: Calibri;
  font-size: .8em;
  font-weight: bold;
  pointer-events: none;
  fill: #777;
  text-overflow: ellipsis;
  overflow: hidden;
}

.node text.subtitle {
  font-family: Calibri;
  font-size: .6em;
  pointer-events: none;
  fill: #777;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .15;
}

.link:hover {
  stroke-opacity: .33;
}